.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.img {
  width: 500px;
  height: 500px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.description {
  font-size: 24px;
  font-weight: 300;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
